* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

@font-face {
  font-family: "Montreal";
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  line-height: 1.5;
}
