@font-face {
  font-family: "Mona Sans";
  src: url("../public/MonaSansVF-Regular.woff2")
      format("woff2 supports variations"),
    url("../public/MonaSansVF-Regular.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  background-color: #000000;
  color: #fff;
  font-family: "Mona Sans";
  font-stretch: 200%;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

body {
  scroll-behavior: smooth;
  margin: 0 !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw !important;
}

div.column {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
}

div.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

small {
  font-size: 0.8rem;
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}
