@font-face {
  font-family: "Mona Sans";
  src: url("@/assets/fonts/MonaSans.woff2") format("woff2 supports variations"),
    url("@/assets/fonts/MonaSans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: "Director";
  src: url("@/assets/fonts/sfmono.otf");

}

html {
  font-stretch: 155%;
  font-size: 16px;
  color: #fffcf2 !important;
}

body {
  font-family: "Mona Sans";
}

section {
  height: 100vh;
  width: 100vw;
  &#section-1 {
    background-color: transparent;
    opacity: 0 !important;
  }
  &.main-section {
    opacity: 1;
    position: absolute;
    height: fit-content;
    background-color: transparent;
    transform: translateY(-100vh);
  }
}
.aboutme-p {
  font-size: 1.5em;
  color: white;
  display: inline;
  & p {
    display: inline;
  }
}

p.link {
  color: white;
  display: inline;
  text-decoration: underline;
}

.major-section {
  display: none;
}

img.aboutme-img {
  height: 50vh !important;

  /* black and white */

  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease-in-out;
}
p.aboutme {
  font-size: 1.75em;
  max-height: 100%;
  color: white;
  justify-self: end;
  cursor: default;
  opacity: 0;
}

img.aboutme {
  width: 100%;
}

.aboutme {
  opacity: 0;
  scale: 0.85;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "Mona Sans", sans-serif !important;
  background-color: black;
  transition: background-color 0.3s ease-in-out;
  color: white;
}

::selection {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

i {
  transition: all 0.3s ease-in-out;
}

.options-icons-container {
  width: fit-content;
  height: 40%;
  position: fixed;
  left: 2.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option {
  transition: font-weight 0.15s ease-in-out, font-size 0.15s ease-in-out,
    filter 0.15s ease-in-out;
  transform-origin: right;
  font-family: "Director";
  font-stretch: 125%;

  z-index: 900;
  &:hover {
    font-weight: 700;
    filter: blur(0px);
  }
  &.active {
    font-weight: 700;
    pointer-events: none;
  }
  &:not(.active) {
    &:hover {
      filter: blur(0px);
    }
  }
  color: white;
  display: flex;
  font-size: 5.625em;
  width: fit-content;
  opacity: 1;
  font-size: 30px !important;
}

.skew-container,
.skew-container-2 {
  --x-translate: 0;
  --y-translate: 0;

  &:hover {
    .skew,
    .skew-2 {
      transform: matrix3d(
        1,
        0,
        0,
        var(--x-translate),
        0,
        1,
        0,
        var(--y-translate),
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1
      ) !important;
    }
  }
}

.title {
  font-size: 120px;
  margin-bottom: 0;
  height: 1.2em;
  margin-left: 5vw;
  color: white;
  z-index: 3;
  text-align: start !important;
}

.hero-title-1 {
  letter-spacing: 0.02em;
}
.heroest {
  color: white !important;
  font-size: 80px !important;
  font-stretch: 125%;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  & > p {
    display: inline;
  }
}

.hero-title-2,
.hero-title-3,
#typewriter {
  font-size: 40px !important;
}
.title-shadow {
  position: absolute !important;
  transform: translate(-5%, -95%);
  perspective: 3000px;
  color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.hero-title-3 {
  display: flex;
  width: fit-content;
}
.typed-cursor {
  color: white !important;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  color: white;
  font-size: 2.5em;
  z-index: 100;
}
.header-content,
.locales-container,
a {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header-content {
  height: 75%;
}

/* FONTS */

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-60%, -50%);
  width: 5vw;
  height: 5vw;
  color: white;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.left-arrow {
  position: absolute;
  left: 0;
  scale: 0.85;
  bottom: 0;
  transform: translate(-80%, -50%) rotate(180deg);

  width: 5vw;
  height: 5vw;
  color: white;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  opacity: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.options-container {
  height: 62vh;
}

/* GRAIN */

.bg {
  position: fixed;
  top: -100vh;
  left: -100vw;
  width: 300vw;
  height: 300vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat;
  background-repeat: repeat;

  animation: grain 8s steps(10) infinite;
  opacity: 0.65;
  visibility: visible;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #636363;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  opacity: 0.5 !important;
  background: rgba(0, 0, 0, 0);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-divider {
  height: 30000vh !important;
  transform: translate(0, 10%);
  width: 3px !important;
  background-color: white;
  opacity: 0.9;
}

.section-header {
  height: 30vh !important;
  z-index: 100 !important;
  position: relative;
}

.options-list {
  height: 100vh;
  transition: filter 0.5s ease-in-out;
}

.content-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-header {
  font-size: 5em;
  font-weight: 400;
  color: white;
  position: fixed;
}

.content-row {
  height: 75vh;
  display: flex;
  align-items: center;
  &:nth-child(1) {
    margin-top: 7.5vh;
  }
}
.small-content-row {
  height: 50vh;
  display: flex;
  align-items: center;
  &:nth-child(1) {
    margin-top: 7.5vh;
  }
}
.volume-company {
  height: 85vh;
  transform: translateY(-85vh) translateX(30vw);
  z-index: 1 !important;
}

.small-volume-company {
  height: 50vh;
  transform: translateY(-50vh) translateX(30vw);
  z-index: 1 !important;
}

.volume-company.inverted {
  transform: translateX(-12vw);
}

.exp-text {
  opacity: 1;
  font-size: 1.5em;
  color: white;
  z-index: 100 !important;
  position: relative;
  transition: all 0.35s ease-in-out !important;

  &.bold {
    font-size: 3.5em;
    letter-spacing: 0.1em;
    font-weight: 650;
    width: fit-content;
    font-stretch: 125%;
    white-space: nowrap;
  }
}

.exp-text.bold:hover {
  font-weight: 750;
  letter-spacing: 0.09em;
}

.blur {
  filter: blur(4px);
}

#loco {
  border-left: #f5f5f5 0px solid;
}

/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */
/* locomotive! */

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden !important;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
#logo {
  filter: blur(5px);
}
#welcome {
  position: fixed;
  top: 0;
  color: white !important;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #000;
}

.welcome-txt-1 {
  font-size: 2.5em;
  font-stretch: 125%;
  letter-spacing: 0.01em;
  font-style: oblique 14deg;
  line-height: 1em;
}
.welcome-txt-2 {
  font-stretch: 125%;
  font-size: 2.5em;
}
#bg {
  position: fixed;
  top: -100vh;
  left: -100vw;
  width: 400vw !important;
  height: 400vh !important;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
  z-index: 900;
  pointer-events: none;
  filter: contrast(1.2) saturate(1.2) brightness(1.1);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all;
  --gradient-color-1: #482697;
  --gradient-color-2: #9b7d1b;
  --gradient-color-3: #9e126f;
  --gradient-color-4: #9b5013;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out, height 0.25s ease-out,
    bottom 0.25s ease-out;
}

.hover-underline-animation.active::after {
  height: 5px;
  bottom: -5px;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.inverted-animation::after {
  transform-origin: bottom left;
}
.hover-underline-animation.inverted-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.bounce {
  animation: bounce 0.5s;
  transform-origin: center center;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar-width {
  width: 5%;
  .option {
    left: 2.5%;
  }
}

#sidebar {
  z-index: 9999;
}

#sidebar:before {
  content: "";
  background-color: rgba(190, 179, 179, 0.281);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.option-txt {
  position: absolute;
  opacity: 1;
  width: 10em;
  left: 200%;
  display: none;
}

#araucaria {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.RETICOOL__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.page-header {
  top: 2%;
  right: 2%;
  font-size: 2em;
  font-weight: 100;
  font-family: "Director" !important;
}

canvas.option-icon{
  transition: all 0.15s ease-in-out;
}
canvas.option-icon:hover{
  scale: 1.1;
}

.contact-cta{
  position:absolute;
  top: 85vh;
  font-size: 2em;
}